<!doctype html>
<html>
  <head>
    {% block head %}
      {% block title %} <title>{{title}} </title>{% endblock %} 
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    {% endblock %}
  </head>



  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">
          <img src="{{ url_for('static', filename='rys.png') }}" width=90 style="margin:8px">
        </div>
        <div class="col-md-9">
          <div class="page-header">
            <h1>About PNU</h1>
            <h2>Essential information for education</h2>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-dark bg-dark" style="background-color: #66ccff;">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="{{url_for('index')}}"> Домашня сторінка</a></li>
          <li><a href="{{url_for('login')}}"> Вхід </a></li>
          <li><a href="{{url_for('register')}}"> Реєстрація </a></li>
          <li><a href="{{url_for('posts')}}"> Пости </a></li>
        </ul>
      </div>
    </nav>




    <div class="container-fluid">
      {% block content %} 


      {% endblock %}

      {% block footer %}
        <footer class="row">
          <div class="text-center">
            &copy; Copyright 2020 by 
            <a href="http://domain.invalid/">http://domain.invalid/</a>.</div>
        </footer>
        {% endblock %}
      </div>

    </body>
  </html>
