
{% extends "base.html" %}
{% block content %}
<h1>Sign In</h1>


{% for cat, msg in get_flashed_messages(True) %}
<ul class="list-group">
    <li class="list-group-item list-group-item-{{cat}}">{{msg}}</li>
</ul>
{%endfor %}





<form method="post" action="{{url_for('login')}}" novalidate>

    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email() }}
    {{ form.password.label }} {{ form.password() }}
    {{ form.submit() }}

</form>


{% endblock %}
 


